.blog-post__text {
  padding: 24px 0;

  & h2 {
    margin-bottom: 17px;
    font-size: 27px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
  }

  & p {
    margin: 0 0 10px;
  }

  & img {
    padding: 11px 0 15px;
  }

  & ol {
    margin: 0;
    padding-left: 15px;
  }

  & ul {
    margin: 0 0 26px;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      padding-left: 33px;

      &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 6px;
        height: 12px;
        border-right: 2px solid #f86d56;
        border-bottom: 2px solid #f86d56;
        transform: rotate(45deg);
      }
    }
  }

  & li {
    margin-bottom: 10px;
  }
}
