.contacts {
  padding-top: 36px;
  padding-bottom: 53px;
}

.contacts__heading {
  margin: 0 0 42px;
  text-align: center;
}

.contacts__name {
  margin: 0 0 25px;
  font-size: 17px;
  line-height: 24px;
}

.contacts__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__tabs-button {
  padding: 10px 17px;
}

.contacts__info {
  width: 320px;

  @include desktop {
    padding-top: 60px;
  }
}

.contacts__location {
  position: relative;
  margin: 0 0 10px;
  padding-left: 36px;

  &--last {
    margin-bottom: 15px;
  }

  &:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 2px;
    width: 18px;
    height: 24px;
    background-image: url("../images/sprite.png");
    background-position: -312px -60px;
  }
}

.contacts__phone {
  margin-bottom: 19px;
  padding-left: 30px;
}

.contacts__button {
  margin-left: 32px;
}

.contacts__map {
  @include tablet {
    width: 746px;
  }
}
