.head {
  box-sizing: border-box;
  min-height: 208px;
  padding: 27px 0 38px 12px;
  color: #ffffff;
  background-image: url(../images/doctor-dark-short-desktop@1x.jpg);
}

.head__breadcrumbs {
  margin-bottom: 25px;
}

.head__heading {
  max-width: 600px;
}
