.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: 101;

  @media (max-width: 411px) {
    right: 0;
    bottom: 0;
    overflow-x: scroll;
  }

  @media (min-width: 412px) {
    // top: 80px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 50%);
  }
}

.modal__inner {
  box-sizing: border-box;
  height: auto;
  padding: 48px 50px 33px 49px;

  @media (min-width: 412px) {
    width: 390px;
  }
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
  padding: 26px;
  font-size: 0;
  background-color: #ffffff;

  &:after,
  &:before {
    content: "";
    position: absolute;
    right: 16px;
    top: 27px;
    width: 19px;
    height: 1px;
    background-color: #aaaaaa;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.modal__heading {
  margin: 0 0 17px;
  font-weight: 300;
  text-transform: uppercase;
}

.modal__submit {
  margin-top: 3px;
}
