.phone {
  position: relative;
  display: inline-block;
  margin-right: 27px;
  padding-left: 22px;
  font-size: 18px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
  color: $text-color;

  @media (max-width: 412px) {
    margin-bottom: 20px;
  }

  @media (min-width: 413px) {
    margin-left: auto;
  }

  &--cream {
    color: #fff0e2;
  }

  &:before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 17px;
    height: 19px;
    background-image: url(../images/sprite.png);
    background-position: -252px -5px;
  }
}
