.stages {
  min-height: 599px;
  padding-bottom: 18px;
  text-align: center;
}

.stages__heading {
  margin-bottom: 43px;
}

.stages__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;

  @media (min-width: 500px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @include tablet {
    width: 720px;
  }

  @include desktop {
    width: 1000px;
  }
}

.stages__item {
  position: relative;
  width: 200px;
  margin-bottom: 34px;

  @media (max-width: 499px) {
    margin: 0 auto 34px;
  }

  @media (min-width: 500px) {
    padding-right: 65px;

    &:nth-child(2n + 1):after {
      content: "";
      position: absolute;
      top: 68px;
      right: 0;
      width: 62px;
      height: 18px;
      background-image: url(../images/arrow-down.png);
    }

    &:nth-child(2n):after {
      content: "";
      position: absolute;
      top: 68px;
      right: 0;
      width: 62px;
      height: 18px;
      background-image: url(../images/arrow-up.png);
    }
  }

  @include tablet-max {
    &:nth-child(2n):after {
      content: "";
      position: absolute;
      top: 68px;
      right: 0;
      width: 62px;
      height: 18px;
      background-image: url(../images/arrow-up.png);
    }
  }

  @include tablet-max {
    &:nth-child(2n) {
      padding-right: 0;

      &:after {
        content: "";
        background-image: none;
      }

      &:last-child {
        content: "";
        background-image: none;
      }
    }
  }

  @include desktop {
    &:nth-child(4),
    &:last-child {
      padding-right: 0;

      &:after {
        content: "";
        background-image: none;
      }
    }
  }
}

.stages__title {
  position: relative;
  display: block;
  padding-top: 182px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    background-color: $second-theme-color;

    @media (max-width: 499px) {
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0);
    }

    @media (min-width: 500px) {
      left: 20px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    background-image: url("../images/sprite.png");
  }

  &--ambulance:after {
    top: 66px;
    left: 68px;
    width: 65px;
    height: 40px;
    background-position: -74px -5px;
  }

  &--doctor:after {
    top: 59px;
    left: 74px;
    width: 49px;
    height: 53px;
    background-position: -5px -110px;
  }

  &--checklist:after {
    top: 57px;
    left: 83px;
    width: 39px;
    height: 57px;
    background-position: -108px -69px;
  }

  &--dropper:after {
    top: 57px;
    left: 83px;
    width: 47px;
    height: 57px;
    background-position: -206px -110px;
  }

  &--health:after {
    top: 64px;
    left: 71px;
    width: 55px;
    height: 50px;
    background-position: -189px -177px;
  }

  &--document:after {
    top: 61px;
    left: 81px;
    width: 39px;
    height: 49px;
    background-position: -157px -110px;
  }

  &--help:after {
    top: 66px;
    left: 66px;
    width: 74px;
    height: 45px;
    background-position: -279px -5px;
  }
}
